.container
  %h2
    Choose a Question
    %span.pull-right
      = link_to "Add a new question", new_question_path, class: "btn btn-default btn-sm" 

  .adjust_margin
    - @questions.each do |question|
      .row.question_container
        .col-md-8
          = link_to question.question.html_safe, question
        .col-md-4
          %span.small.pull-right
            = link_to "edit", edit_question_path(question)

